button.submitbtn {
    margin:0px 0px 15px 0px;
}

div.top {
    margin:15px;
}

div.close {
    margin:auto;
    
}

div.cartForm {
    margin:auto;
    text-align: center;
    max-width: 500px; 
}

label.type {
    text-align: left;
    float: left;
}

label.price {
    text-align: right;
}

span.removal {
    float: right;
}

label#total {
    font-weight: bold;
}

h2 {
    margin:auto;
    text-align: center;
}
div div span {
    margin:auto;

}

.removal {
    cursor : pointer;
}
div div span label {
    font-size:25px;
    margin:auto;
    color:black;
}