button.submitbtn {
    margin:0px 0px 15px 0px;
}

div.top {
    margin:15px;
}

div.close {
    margin:auto;
    
}

div.cartForm {
    margin:auto;
    text-align: center;
}

h2 {
    margin:auto;
    text-align: center;
}
div div span {
    margin:auto;

}

.removal {
    cursor : pointer;
}
div div span label {
    font-size:25px;
    margin:auto;
    color:black;
}