body {
  background:
}

button.submitbtn {
    margin:0px 0px 15px 0px;
}

div.top {
    margin:15px;
}

div.close {
    margin:auto;

}

div.cartForm {
    margin:auto;
    text-align: center;
    max-width: 500px;
}

.type, .price {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 30px;
}

label.type {
    text-align: left;
    float: left;
}

.left {
  text-align: left;
}

span.removal {
    float: right;
}

label#total {
    font-weight: bold;
}

h2 {
    margin:auto;
    text-align: center;
}
div div span {
    margin:auto;

}

.removal {
    cursor : pointer;
}
div div span label {
    font-size:25px;
    margin:auto;
    color:black;
}

.cart-icon {
  font-size: 36px;
  line-height: 48px;
}
