
.food-container {
  margin-left: 50px;
  margin-right: 50px;
}
.food-hover-shadow {
  cursor: pointer;
  transition: all 0.5s;
}
.food-hover-shadow:hover {
  /* box-shadow: 0 2px 2px lightgrey; */
  box-shadow: none;
  transform: rotateY(180deg);
  background-color: white;
}
.food-hover-shadow:hover > .card-image {
  opacity: 0;
}
.card-image, .card3-inner-text {
  opacity: 1;
}

h2.menuheader {
    text-align: center;
    margin:auto;
}

div.top {
  margin:15px;
}

