body {
  height: 100%;
  background-color: #e5e5e5;
}
div.backbtndiv {
    cursor: pointer;
    margin:10px 15px 0px 15px;

    width: 50px;
    height: 50px;
    border-radius:25px;
}
.title {
  margin-top: -10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.plane-card {
  background: white;
  box-shadow: 0px 1px 3px grey;
}
.write-text {
  padding-left: 5px;
  font-family: 'Muli', sans-serif;
  margin-top: 0px;
  font-size: 18px;
  line-height: 36px;
}
.center {
}
.bathrooms {
  height: 1500px;
}
